In [6]:
import pandas as pd
from io import StringIO,BytesIO # StringIO creates text buffer

In [3]:
data = ('col1,col2,col3\n'
'x,y,1\n'
 'a,b,2\n'
'c,d,3')

In [4]:
type(data)

str

In [8]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [11]:
df = pd.read_csv(StringIO(data), usecols=['col1','col3'])# to read specific cols from data frame

In [12]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [13]:
#specifying columns data type

data = ('a,b,c,d\n'
'1,2,3,4\n'
'5,6,7,8\n'
 '9,10,11,12\n')

In [14]:
data

'a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11,12\n'

In [15]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11,12

In [16]:
# specifying data type in data frames
df = pd.read_csv(StringIO(data),dtype=object)

In [17]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [18]:
df['a']

0    1
1    5
2    9
Name: a, dtype: object

In [19]:
df['a'][1]

'5'

In [20]:
# specifying each column with diff data type
df = pd.read_csv(StringIO(data),dtype= {'a':'int','b':'float','c':'int'})

In [21]:
df

   a     b   c   d
0  1   2.0   3   4
1  5   6.0   7   8
2  9  10.0  11  12

In [24]:
# to check data type
df.dtypes

a      int32
b    float64
c      int32
d      int64
dtype: object